<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="js/vue.js"></script>
</head>
<body>
<template id="tplTodoAdd">
  <div>
    <input v-model="new_task"><button @click="add()">添加</button>
  </div>
</template>
<script>
var todoAdd={
  template:"#tplTodoAdd",
  data:function(){
    return { new_task:"" }
  },
  methods:{
    add(){
      this.$emit("add",this.new_task);
      this.new_task="";
    }
  }
}
</script>


<template id="tplTodoItem">
  <li>{{i+1}} - {{task}}</li>
</template>
<script>
var todoItem={
  template:"#tplTodoItem",
  props:["task","i"]//对外:父组件可绑定数据
  //对内: data:{ task:xx, i:x }
}
</script>

<template id="tplTodoList">
  <ul>
    <todo-item v-for="(task,i) of tasks" :task="task" :i="i"></todo-item>
  </ul>
</template>
<script>
var todoList={
  template:"#tplTodoList",
  props:["tasks"],//对外: 父组件可绑定数据
  //对内: 相当于data:{tasks}
  components:{ todoItem }
}
</script>

<template id="tplTodo">
  <div>
    <h1>待办事项列表</h1>
    <todo-add @add="do_add"></todo-add>
    <todo-list :tasks="tasks"></todo-list>
  </div>
</template>
<script>
Vue.component("todo",{
  template:"#tplTodo",
  data:function(){
    return {//data
      tasks:["吃饭","睡觉","打亮亮"]
    }
  },
  components:{
    todoAdd,//Vue自动转为todo-add
    todoList//Vue自动转为todo-list
  },
  methods:{
    do_add(new_task){
      this.tasks.push(new_task);
    }
  }
})
</script>




<div id="app">
  <todo></todo>
</div>
<script>
new Vue({
  el:"#app",
  data:{}
})
</script>
</body>
</html>