<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
<ul>
  <!--遍历tasks中每个任务名，每遍历到一个任务，就创建一个li，并替换其中的内容为计算后的结果。
    遍历过程中，可自动获得当前元素的内容和当前位置i，当前元素和i可在li的内容中继续用作绑定
  -->
  <li v-for="(task,i) of tasks">
    {{i+1}} - {{task}}
  </li>
</ul>
<table>
  <thead>
    <tr>
      <th>序号</th>
      <th>单价</th>
      <th>数量</th>
      <th>小计</th>
    </tr>
  </thead>
  <tbody>
    <!--遍历商品数组products中每个商品对象，每遍历一个商品对象，就创建一套<tr>及其子元素。
      变量p自动获得当前商品对象
      变量i自动获得当前位置
      p和i都可用于<tr>及其子元素中的绑定  
    -->
    <tr v-for="(p,i) of products">
      <!--p:{price: , count: }-->
      <td>{{i+1}}</td>
      <td>¥{{p.price.toFixed(2)}}</td>
      <td>{{p.count}}</td>
      <td>¥{{(p.price*p.count).toFixed(2)}}</td>
    </tr>
  </tbody>
</table>
</div>
<script>
var vm=new Vue({
  el:"#app",
  data:{
    tasks:["吃饭","睡觉","打亮亮","再睡觉"],
    products:[
      {price:10,count:3},
      {price:12,count:2},
      {price:8,count:4}
    ]
  }
})
</script>
</body>
</html>